body {
    font-family:'Gill Sans MT';
    padding: 0;
    margin: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/040/724/730/non_2x/ai-generated-colorful-cocktails-line-the-bar-in-vibrant-social-scene-free-photo.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
  header {
    background-image: linear-gradient(45deg, #db7474, #5f61ce);
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    font-family: 'Brush Script MT';
    font-size: 50px
  }

  header input, header button {
    margin-top: 1rem;
  }
  
  main {
    padding: 1rem;
  }
  
  #cocktail-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .cocktail-item {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    cursor: pointer;
    background-color: white;
  }
  
  #cocktail-details {
    display: block;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 2rem;
    background-color: white;
    width: 80%;
    max-width: 800px;
  }
  
  .hidden {
    display: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /*hidden initially*/
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /*Appear above other elements*/
  }

  #back-to-top:hover {
    background-color: #555;
  }
  